main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  width: 90%;
  align-items: center;
  justify-content: center;
}

#results {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

#results p {
  color: var(--light-dark);
  font-weight: 500;
  font-style: italic;
  padding: .25rem;
  text-align: center;
}

@media (min-width: 1080px){
  form{
    width: 30%;
  }
  #results{
    width: 60%;
  }
}